<div class="attributions-div">
    <dl>
        <% _.each(attributionList, function (model) { %>
            <dt><%= model.name %>:</dt>
            <dd><%= model.text %></d>
        <% }); %>
    </dl>
</div>
<div class="attributions-button" title="<%= hideAttributionsText %>">
    <span class="glyphicon glyphicon-forward"></span>
</div>
